body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}


#previousBtn {
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(0, 102, 255);
    font-size: 16px;
    font-weight: 800;
}

#nextNumberBtn {
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(10, 153, 10);
    font-size: 16px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#result {
    color: red;
    font-size: 20p;
    font-weight: 800;
}

@media screen and (max-width: 480px) {
    #previousBtn {
        width: 120px;
        height: 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: rgb(0, 102, 255);
        font-size: 16px;
        font-weight: 800;
    }

    #nextNumberBtn {
        width: 120px;
        height: 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: rgb(10, 153, 10);
        font-size: 16px;
        font-weight: 800;
    }
}